<!-- Desafio do modulo 03 - lauchbase -->
{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Rocketseat</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="{{data_about.logo}}" alt="Logo {{data_about.name}}">

        <div id="content">
            <h1>{{data_about.name}}</h1>
            <h2>{{data_about.description}}</h2>
            <h3>Tecnologias:</h3>
            <ul>

                {% for techs in data_about.technologies %}
                <li>{{techs.name}}</li>
                {% endfor %}

            </ul>

            <div id="links-footer" class="links">
                {% for link in data_about.links %}
                <a href="{{link.url}}" target="_blank">{{link.name}}</a>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}