<!-- Desafio do modulo 03 - lauchbase -->
{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Rocketseat</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="logoRocketseat.jpg" alt="Rocketseat">

        <div id="content">
            <h1>Rocketseat</h1>
            <h2>A menor distância entre você e seus objetivos como programador.</h2>
            <h3>Tecnologias:</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>NodeJS</li>
                <li>React</li>
            </ul>

            <div id="links-footer" class="links">
                <a href="https://github.com/Rocketseat" target="_blank">GitHub</a>
                <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
                <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
            </div>

        </div>
    </div>
{% endblock %}