<!-- Desafio do modulo 02 - lauchbase -->
{% extends "layout.njk" %}

{% block head %}
    <title>Cursos - Rocketseat</title>
{% endblock %}

{% block content %}
    <h1>CURSOS</h1>

    <section class="cards">

        {% for item in courses %}
            <div class="card" id="{{item.name}}">
                <img src="{{item.img_logo}}" alt="Logo {{item.name}}">
                <h2>{{item.name}}</h2>
                <div class="card_info">
                    <p>{{item.module_num}}</p>
                    <p class="card_price">{{item.price}}</p>
                </div>
            </div>
        {% endfor %}

    </section>

{% endblock %}