<!-- Desafio do modulo 02 - lauchbase -->
{% extends "layout.njk" %}

{% block head %}
    <title>{{item.name}}</title>
{% endblock %}

{% block content %}
    <h1>{{item.name}}</h1>

    <section class="course-wrapper {{ 'content' if item.content}}">

        <div class="sidebar">
            <img src="{{item.img_logo}}" alt="Logo {{item.name}}">
            <p id="description">{{item.description}}</p>
            <div class="card_info">
                <p>{{item.module_num}}</p>
                <p>{{item.price}}</p>
            </div>
            <a href="https://rocketseat.com.br/{{item.name.toLowerCase()}}" target="_blank">Ir para o site</a>
        </div>
        
        <div class="course-content">
        {{item.content}}
        </div>

    </section>

{% endblock %}

{# https://rocketseat.com.br/${course} #}