<!-- Desafio do modulo 02 - lauchbase -->
{% extends "layout.njk" %}

{% block head %}
    <title>erro 404</title>
{% endblock head %}

{% block content %}
    <div id="erro">
    <h1>erro 404</h1>
    <p>A página não foi encontrada!</p>
    </div>    
{% endblock content%}